Package: com.dgg0st.delayvolchange
Name: DelayVolChange
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Delays the volume change, prevents the first volume press to actually change the volume. The HUD needs to be visible in order for the volume change.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
